<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>CDKitty</servlet-name>
        <servlet-class>org.openscience.cdk.itty.CDKittyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CDKitty</servlet-name>
        <url-pattern>/_wave/robot/jsonrpc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>org.openscience.cdk.itty.CDKittyProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/_wave/robot/profile</url-pattern>
    </servlet-mapping>
</web-app>
